.App {
  text-align: center;
  margin-bottom: 2rem;
}
.btn-layout {
  width: 50%;
  margin: 2rem auto 1rem;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
}

.tableSection {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
  justify-content: space-around;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}
th {
  border-bottom: 2px solid black;
}
tr:nth-child(even) {
  background-color: #dddcdc;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 2rem;
  width: 300px;
  height: fit-content;
}
